<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="targetfile" value="MTP_Phase2.xlsx"/>
    <add key="configctps" value="MTP_CTPS_O1_Modified_09262017.csv"/>
  </appSettings>
</configuration>